/* Color styles */
$bg-black: black;
$bg-dark: #434343;
$bg-accounts: #141414; 
$text-red: #E50914;
$text-light: #FFFFFF;
$text-gray: #B3B3B3;
$button-light: #FFFFFF;
$button-dark: #5B5756;

$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

$basefont: "Montserrat", sans-serif;