@use './partials/variables' as *;


$fa-font-path: '../fonts/webfonts';   

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


@import 'bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: $basefont;
    background-color: $bg-dark;
}

main {
    padding-top: 80px;
}